/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.collection-item {
  height: 25%;
  width: 25%;
}

.collection-item img {
  height: auto;
}

.collection-Item-Title {
  text-align: center;
}
