/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/

.collection{
  margin: 0 auto;
}
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.product-item img {
  height: auto;
  width: 100%;
}
