.brand-img-grid {
    padding: 2%;
  display: grid;
  width: 100%;
  height: max-content;
  background-color: var(--color-darkwhite);
  > .brand-img-grid-top {
    padding-right: 8%;
    padding-bottom: 2%;
    > a{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        > button{
            color: var(--color-light);
            width: 100px;
            background-color: var(--color-dark);
            font-family: 'Manrope';
            
        }
    }
  }
  .brand-img-grid-bottom {
    display: grid;
    height: max-content;
    place-content: center;
    grid-template-areas:
      'img1 img4 img6 img6'
      'img2 img4 img7 img8'
      'img3 img5 img7 img8';
    grid-template-rows: repeat(3,140px);
    grid-template-columns: repeat(4,240px);
    gap: 20px;
    @for $i from 1 to 9 {
      > a:nth-of-type(#{$i}) {
        grid-area: img#{$i};
      }
    }
    > a > div {
      height: 100%;
      background-color: var(--color-light);
      > h2{
        text-transform: uppercase;
      }
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
      display: grid;
      place-content: center;
      place-items: center;
      width: 100%;
      border: solid 1px;
      border-radius: 10px;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8:hover{
      opacity: 0.8;
    }
  } 
}

@media (max-width: 1270px) {
  .brand-img-grid .brand-img-grid-bottom {
    grid-template-rows: repeat(3, 120px); /* Modification de la hauteur des lignes */
    grid-template-columns: repeat(4, 180px); /* Modification de la largeur des colonnes */
    gap: 15px;
    > a > div > h2 {
      font-size: 1.3rem; /* Ajustement de la taille du texte */
    }
  }
  .brand-img-grid .brand-img-grid-top > a > button {
    width: 80px;
    height: 40px;
  }
}

@media (max-width: 955px) {
  .brand-img-grid .brand-img-grid-bottom {
    grid-template-rows: repeat(3, 100px); /* Réduction de la hauteur des lignes */
    grid-template-columns: repeat(4, 140px); /* Réduction de la largeur des colonnes */
    gap:10px;
    > a > div > h2 {
      font-size: 1rem; /* Ajustement de la taille du texte */
    }
  }
  .brand-img-grid .brand-img-grid-top > a > button {
    height: 25px;
  }
}

@media (max-width: 745px) {
  .brand-img-grid .brand-img-grid-bottom {
    display: grid;
    height: max-content;
    place-content: center;
    grid-template-areas:
      'img1 img4'
      'img2 img4' 
      'img3 img5'
      'img6 img6'
      'img7 img8' 
      'img7 img8';
    grid-template-rows: repeat(6, 120px); /* Réduction de la hauteur des lignes */
    grid-template-columns: repeat(2, 160px); /* Réduction de la largeur des colonnes */
    gap: 5px;
    > a > div > h2 {
      font-size: 1rem; /* Ajustement de la taille du texte */
    }
    > a > div > p{
      font-size: 0.7rem; 
    }
  }
  .brand-img-grid .brand-img-grid-top > a > button {
    height: 25px;
    font-size: 0.7rem;
  }
}


