$aspect-ratio: 25 / 5;

button {
  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  &.secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 3px solid var(--color-primary);

    > p:nth-of-type(2) {
      color: var(--color-black);
    }
  }

  padding: 15px;
  min-height: 50px;

  border: none;
  border-radius: 5px;

  font-size: 12.5px;
  cursor: pointer;

  aspect-ratio: $aspect-ratio;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  > p:nth-of-type(1) {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
  }
  > p:nth-of-type(2) {
    font-size: 0.75em;
  }

  transition: border-radius .15s;
  &:hover {
    border-radius: 10px;
  }
}
