$iconHeight: 20px;
$iconMarginRight: 5px;

.certificationItem {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 10px 0;
  max-width: 350px;

  > .topline {
    display: flex;
    align-items: center;
    gap: $iconMarginRight;

    > svg {
      height: $iconHeight;
      width: $iconHeight;
    }
  }

  > .text {
    > h3 {
      font-size: $iconHeight;
      line-height: $iconHeight;
    }
    > p {
      font-size: calc($iconHeight / 1.35);
    }
    a {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}
