.drop-banner{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    aspect-ratio: 1/0.2;
    background-size: contain;
    background-position: center;
    > .drop-banner-title{
        text-align: center;
    }

    > .drop-banner-timer{
        position: absolute;
        color : var(--color-dark);
        text-align: center;
        font-size: 1.5rem;
    }
}