.featuredCollection {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto !important;
  background-color: white;
  > h2 {
    padding: 15px 0;
    font-weight: 700;
    font-size: 30px;
  }
  > p {
    font-size: 18px;
  }

  > a {
    float: right;
  }

  > .featuredCollection-sub {
    height: 100%;
    position: static;
    > .swiper {
      position: static;
      width: 100%;
      height: 100%;
      padding: 0%;
      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
      }

      .swiper-button-prev {
        scale: 0.5;
        aspect-ratio: 1/1;
        color: var(--color-dark);
        opacity: 1;
        position: absolute !important;
        top: 0;
        right: 0;
        left: unset;
        translate: -75% 50%;
        padding: 30px 15px;
      }
      
      .swiper-button-next {
        scale: 0.5;
        aspect-ratio: 1/1;
        color: var(--color-dark);
        padding: 30px 15px;
        border-radius: 5px;
        opacity: 1;
        position: absolute !important;
        top: 0;
        right: 0;
        translate: 0 50%;
      }
      > .swiper-pagination {
        display: none;
        bottom: -5px;
      }
    }
  }
  @media (max-width: 800px) {
    padding: 10px 0px 10px 0px;
    > h2 {
      font-size: 30px;
      text-align: center;
    }
    > p {
      font-size: 16px;
      text-align: center;
    }
    > .featuredCollection-sub {
      > .swiper {
        > .swiper-pagination {
          display: block;
          bottom: -5px;
        }
      }
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--color-dark);
}
