.featured-card {
    padding: 1% 4.7%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    transition: scale 0.15s;
    &:hover {
        scale: 1.05;
      }
    > a {
        border: solid 1px var(--color-grey);
        background-color: var(--color-darkwhite);
        border-radius: 5px;
        height: 100%;
            width: 100%;
    > .featured-card-item{
        position: relative;
        > img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        > .featured-card-text{
            position: absolute;
            top : 0; 
            left : 0;
            margin: 3% 2%;
        }
    }}
  }
  