/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
    background: var(--color-dark);
    margin-top: auto;
    display: grid;
    justify-content: center;
    align-items: start;
  }

  .footer_help a{
    font-size: 0.8rem;
  }
  .footer_grid{
    display: flex;
    color:var(--color-light); 
    grid-gap: 10rem;
    padding: 1rem;
  }
  
  .footer-menu {
    display: grid;
    grid-gap: 0.2rem;
    color: var(--color-light); 
  }
  
  .footer-menu a {
    color: var(--color-light);
    font-size: 0.8rem;
  }

  .footer h1{
    font-size: 1.2rem;
  }

  .footer_Socials{
    display: grid;
  }

  .footer_AboutUs{
    width: 20rem;
  }

  .footer_AboutUs p{
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }

  .div_socials{
    margin: 0 auto;
  }