/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

$header-height: 70px;
$sub-header-height: 40px;
$sticky-content-height: $header-height + $sub-header-height;

$icons-height: calc($header-height / 1.25);
$mobile-icon-height: $icons-height;

:root {
  scroll-padding-top: $sticky-content-height;
}

main {
  padding-top: $sub-header-height;
}

header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background: var(--color-light);
  height: var(--header-height);
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 20;
  font-family: 'Manrope';
  height: $header-height;
  --icon-height: #{$icons-height};

  @media screen and (max-width: 850px) {
    --icon-height: #{$mobile-icon-height};
    padding: 0 15px;

    .tinySearch,
    .header-desktop,
    .sub {
      display: none;
    }

    .menu-toggle {
      display: initial !important;
    }

    > .right-side {
      > nav {
        &:first-of-type {
          display: none;
        }
        &:last-of-type > :first-child {
          display: none;
        }
      }
    }
  }

  .icon {
    height: var(--icon-height);
  }

  > .left-side {
    height: 100%;
    display: flex;
    align-items: center;
    > .menu-toggle {
      display: none;
    }
  }

  > .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;

    img {
      height: 100%;
    }
  }
  > .right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15%;
    > nav {
      display: flex;
      align-items: center;
      gap: 10px;
      &:first-of-type {
        gap: 25px;
      }
    }
  }

  > .sub {
    $bg: var(--color-light);
    border-top: solid 2px #eeeff0;
    border-bottom: solid 2px #eeeff0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: $sub-header-height;
    padding: 0 80px;
    display: flex;
    align-items: stretch;
    background-color: $bg;
    color: var(--color-dark);

    @media screen and (max-width: 750px) {
      padding: 0;

      $trans-size: 15px;
      > nav {
        text-wrap: nowrap;
        overflow: scroll clip;
        > ul {
          margin-left: $trans-size;
          width: calc(100% + $trans-size * 1.5);
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        background: linear-gradient(
          to right,
          $bg,
          transparent $trans-size calc(100% - $trans-size),
          $bg
        );
      }
    }

    ul {
      display: flex;
      align-items: stretch;
      height: 100%;
      gap: 15px;
      > li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        > a {
          text-transform: uppercase;
        }
        > ol {
          position: absolute;
          top: 100%;
          text-wrap: nowrap;
          left: 0;
          scale: 1 0;
          transform-origin: top center;
          transition: 0.15s;
          background-color: var(--color-white);
          color: var(--color-black);

          list-style: none;
          box-shadow: 0 2.5px 15px var(--color-grey);
          border-radius: 0 0 5px 5px;
          padding: 0;
        }

        &:hover {
          > ol {
            scale: 1 1;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

.cartOpenner {
  position: relative;
  $badge-height: calc(var(--icon-height) * 0.25);

  > span {
    position: absolute;
    top: 0;
    translate: 0 75%;
    right: 0;
    background-color: var(--color-primary);
    color: var(--color-white);

    width: $badge-height;
    height: $badge-height;
    display: grid;
    place-content: center;

    border-radius: 50%;

    font-size: calc($badge-height * 0.75);
  }
}

/*
* --------------------------------------------------
* Header Marquis
* --------------------------------------------------
*/

#headerMarquis {
  $itemsGap: 5vw;

  display: flex;
  align-items: center;

  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
  padding: 10px 0;

  > ul {
    display: flex;
    align-items: center;
    padding-left: $itemsGap;
    gap: $itemsGap;

    > li {
      $font-size: 15px;
      margin: 0;
      text-wrap: nowrap;
      font-size: $font-size;
      line-height: calc($font-size - 25%);
    }

    animation: marquisAnimation 25s infinite linear;
  }
}

@keyframes marquisAnimation {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}
