/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

$header-height: 75px;
$icons-height: calc($header-height / 2.25);
$cartBadge-height: calc($icons-height / 2.25);

:root {
  scroll-padding-top: $header-height;
}

.header {
  align-items: center;
  justify-content: space-between;
  background: var(--color-darkwhite);
  display: flex;
  height: var(--header-height);
  padding: 0 30px;
  position: sticky;
  gap: 15px;
  top: 0;
  z-index: 20;
  font-family: 'Manrope';
  height: $header-height;

  nav .icon {
    height: $icons-height;
  }
  > .header-mobile {
    display: none;
  }
  > a {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 50%;

    img {
      height: 65%;
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    padding: 10px;
    > a {
      display: none;
    }
    > .header-ctas {
      display: none;
    }
    > .header-mobile {
      width: 100%;
      margin: 0 auto;
      display: grid;
      place-content: center;
      grid-template-areas: 'menu logo cart';
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: 40px;
      gap: 10%;
      > a {
        padding: 0 10px;
        > img {
          height: 100%;
          width: 100%;
        }
      }
      > .header-menu-mobile-toggle {
        margin: auto 0;
        height: 100%;
        width: 100%;
        > .icon {
          aspect-ratio: 1/1;
          height: 100%;
        }
      }
      @media(max-width: 500px){
        grid-template-columns: 40px 1fr 40px;
        > .cart-section{
          height: 100%;
          width: 100%;
          > .cartOpenner{
            height: 100%;
            width: 100%;
            > .icon{
              aspect-ratio: 1/1;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .header-menu-mobile-toggle {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: flex;
  text-transform: uppercase;
  gap: 10px;
  @media screen and (min-width: 1000px) {
    gap: 3rem;
  }
}
@media (max-width: 800px) {
  .collectionOpenner,
  .header-menu-desktop {
    display: none;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}

.header_search_icon {
  height: 4vh;
}

.header_cart_icon {
  height: 4vh;
}

.header_person_icon {
  height: 4vh;
}

.header_Logo {
  height: 10vh;
}

.cartOpenner {
  position: relative;

  > span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-primary);
    color: var(--color-white);

    width: $cartBadge-height;
    height: $cartBadge-height;
    display: grid;
    place-content: center;

    border-radius: 50%;

    font-size: calc($cartBadge-height) - 5;
  }
}

/*
* --------------------------------------------------
* Header Marquis
* --------------------------------------------------
*/

#headerMarquis {
  $itemsGap: 20vw;

  display: flex;
  align-items: center;

  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
  padding: 10px 0;

  > ul {
    display: flex;
    align-items: center;
    padding-left: $itemsGap;
    gap: $itemsGap;

    > li {
      margin: 0;
      text-wrap: nowrap;
    }

    animation: marquisAnimation 15s infinite linear;
  }
}

@keyframes marquisAnimation {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}
