/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

$header-height: 50px;
$icons-height: calc($header-height / 1.75);
$cartBadge-height: calc($icons-height / 2.25);

.header {
  align-items: center;
  justify-content: space-between;
  background: var(--color-darkwhite);
  display: flex;
  height: var(--header-height);
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Manrope';
  height: $header-height;

  nav .icon {
    height: $icons-height;
  }

  > a {
    height: 100%;
    display: grid;
    place-items: center;

    img {
      height: 65%;
    }
  }
}

.header-menu-mobile-toggle {
  @media (min-width: 730px) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: flex;
  text-transform: uppercase;
  gap: 10px;
  @media screen and (min-width: 1000px) {
    gap: 3rem;
  }

  @media (max-width: 730px) {
    display: none;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}

.header_search_icon {
  height: 4vh;
}

.header_cart_icon {
  height: 4vh;
}

.header_person_icon {
  height: 4vh;
}

.header_Logo {
  height: 10vh;
}

.cartOpenner {
  position: relative;

  > span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-primary);
    color: var(--color-white);

    width: $cartBadge-height;
    height: $cartBadge-height;
    display: grid;
    place-content: center;

    border-radius: 50%;

    font-size: calc($cartBadge-height) - 5;
  }
}

/*
* --------------------------------------------------
* Header Marquis
* --------------------------------------------------
*/

#headerMarquis {
  $itemsGap: 20vw;

  display: flex;
  align-items: center;

  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
  padding: 10px 0;

  > ul {
    display: flex;
    align-items: center;
    padding-left: $itemsGap;
    gap: $itemsGap;

    > li {
      margin: 0;
      text-wrap: nowrap;
    }

    animation: marquisAnimation 15s infinite linear;
  }
}

@keyframes marquisAnimation {
  from {
    translate: 0 0;
  }
  to {
    translate: -100% 0;
  }
}
