.hero-banner{
    background-color: var(--color-darkwhite);
    width: 100%;
}
.hero-banner-img{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    background-position: center;
}
.hero-banner-content{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
}
.hero-banner-text{
    margin-top: 50%;
    text-align: center;
    color: var(--color-dark);
}
.hero-banner-clock{
    font-size: 4rem;
}
.hero-banner-title{
    text-transform: uppercase;
    font-weight: bold;
}
.hero-banner-btn{
    margin-top: 15%;
    padding: 3%;
    width: 100%;
    border:none;
    border-radius: 3px;
    font-weight: 600;
}
.hero-banner-sub{
    margin-top: 5%;
    font-size: 0.9rem;
    font-weight: 100;
}