.history-card{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    aspect-ratio: 0.6/1;
    background-color: var(--color-light);
    border-radius: 15px;
    > div{
        display: grid;
        justify-content: center;
    }
    > .history-card-top{
        position: relative;
        > img{
            aspect-ratio: 1/1;
            object-fit: contain;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
        }

        > p{
            position: absolute;
            z-index: 10;
            color: var(--color-dark);
            background-color: var(--color-light);
            border-radius: 5px;
            font-size: 0.9rem;
            padding: 5px 10px;
            right: 0;
            margin: 5%;
        }
    }

    > .history-card-bottom{
        display: grid;
        > .history-card-bottom-date{
            color: var(--color-grey);
            margin: 2%;
            text-align: left;
            font-size: 0.9rem;
        }

        > .history-card-bottom-text{
            margin: 2% 5%;
            text-align: left;
            font-weight: 400;
            font-size: 0.9rem;
        }

        > .history-card-bottom-sub{
            margin: 2% 5%;
            margin-right: auto;
            text-align: left;
            font-weight: 200;
            font-size: 0.9rem;
        }

        > a{
            > p{
                margin: 5%;
                text-align: right;
                font-weight: 500;
                font-size: 0.9rem;
                text-decoration: underline;
            }
        }
    }

}

.history-card-bottom-sub {
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de lignes avant troncature */
  -webkit-box-orient: vertical;
  max-width: 95%;
  }