.homePage-img-grid{
    padding: 2%;
    display: grid;
    width: 100%;
    > .homePage-img-grid-top{

    }
    .homePage-img-grid-bottom{
        display: grid;
        grid-template-areas: 
        'img1 img4 img6 img6'
        'img2 img4 img7 img8'
        'img3 img5 img7 img8';
        gap: 1%;
        grid-template-rows: max-content max-content max-content ;
        grid-template-columns: 40% 10% 10% 10%;

        @for $i from 1 to 9 {
            > a:nth-of-type(#{$i}) {
                grid-area: img#{$i};
            }
        }
        .img1{
            grid-area: img1;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/0.5;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img2{
            grid-area: img2;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/0.5;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img3{
            grid-area: img3;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/0.5;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img4{
            grid-area: img4;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/1;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }
        
        .img5{
            grid-area: img5;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/1;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img6{
            grid-area: img6;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/1;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img7{
            grid-area: img7;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/1;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }

        .img8{
            grid-area: img8;
            display: grid;
            place-content: center;
            place-items: center;
            aspect-ratio: 1/1;
            width: 100%;
            border: solid 1px;
            border-radius: 10px;
        }
    }

  
}

.img-gen{
    width: 100%;
    object-fit: contain;
}