.ligne{
    border-bottom: solid 1px var(--color-grey);
    width: 95%;
  }

.press-section{
    width: 100%;
    padding: 4%;
    background-color: var(--color-darkwhite);
    display: grid;
    justify-content: center;
    > .press-section-container{
        display: grid;
        padding: 5%;
        grid-template-areas: 
        'card card card';
        justify-content: center;
        gap: 2%;
        > div{
            padding: 3%;
            text-align: center;
            > div{
                aspect-ratio: 1/0.5;
                width: 30%;
                margin: 0 auto;
                > img{
                    width: 100%;
                    object-fit: contains;
                }
            }
        }
    }
}