.productGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    > li {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 470px) {
        grid-template-columns: 1fr;
    }
}


.productLine{
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    row-gap: 25px;
    grid-template-areas: "img prod prod";
    grid-template-columns: 50% auto auto;
    > li {
        display: flex;
        align-items: stretch;
        justify-content: center;
        
    }

    @media screen and (max-width: 1200px) {
        display: grid;
        grid-template-areas: 
        'img' 
        'prod prod';
    }
}
