$card-aspect-ratio: #{1.7 / 2};
$card-height: auto;
$card-border-radius: 0px;

.product-card {
  background-color: transparent;
  height: $card-height;
  width: 100%;
  aspect-ratio: $card-aspect-ratio;
  padding: 7.5px;
  font-size: calc($card-height / 15);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  row-gap: 5px;

  border-radius: $card-border-radius;

  > .top {
    position: relative;
    background-color: transparent;
    flex-grow: 1;
    box-shadow: 0 5px 10px -5px var(--color-grey);
    overflow: hidden;
    border-radius: 0px;

    transition: .15s;

    > .pastilles {
      position: absolute;
      bottom: 5%;
      left: 5%;
      > li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.8em;
        margin: 5px 0;
      }
    }

    > img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1.8 / 2;
      object-fit: contain;
      background-color: #f2f2f2;
      transition: scale .15s;
      border-radius: 5px;
    }

    > .brand {
      position: absolute;
      bottom: 5%;
      right: 5%;
      width: 35px;
      display: grid;
      place-content: center;
      > img {
        width: 100%;
      }
    }
  }
  > .bottom {
    display: grid;
    grid-template-areas:
      'title price'
      'sub sub'
      'rate rate';
    grid-template-rows: auto max-content 15%;
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 2%;
    align-items: baseline;
    text-align: left;

    > h3 {
      grid-area: title;
      font-size: 15px;
    }
    > p {
      grid-area: sub;
      font-size: 14px;
      color : var(--color-grey);
      font-weight: normal;
    }
    > .price {
      grid-area: price;
      font-size: 15px;
      width: 100%;
      text-align: right;


    }
    > .rating {
      grid-area: rate;
      padding-right: 25%;
      height: 100%;
      display: flex;
      align-items: baseline;
      font-size: 0.9em;
      gap: 5px;
    }
  }


  &:hover {
    text-decoration: inherit;
    > .top {
      box-shadow: 0 5px 10px 0 var(--color-grey);
      > img {
        scale: 1.05;
      }
    }
  }
}


