.VideoCard {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-grey);
  width: 100%;
  padding: 2%;
  aspect-ratio: 5/6;
  > .VideoCard-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 30%;
    > h3 {
      font-size: 65px;
    }
    > .videoButton {
      width: 30%;
      border-radius: 100%;
    }
  }

  > .VideoCard-bottom {
    flex-grow: 1;
    display: grid;
    padding: 2%;
    > h4 {
      font-size: 20px;
    }
    > p {
      font-size: 14px;
    }
  }
}

@media (max-width: 1110px) {
  .VideoCard {
    > .VideoCard-top {
      > h3 {
        font-size: 60px;
      }
      > .videoButton {
        width: 60px;
      }
    }
    > .VideoCard-bottom {
      > h4 {
        font-size: 30px;
      }
      > p {
        font-size: 12px;
      }
    }
  }
}



@media (max-width: 800px) {
  .VideoCard {
    width: 100%;
    height: 100%;
    aspect-ratio: 6/5;
    > .VideoCard-top {
      justify-content: space-between;
      margin: 0% 2%;
      > h3 {
        font-size: 60px;
      }
      > .videoButton {
        width: 60px;
      }
    }
    > .VideoCard-bottom{
      > h4 {
        font-size: 30px;
      }
      >p{
        font-size: 16px;
      }
    }
  }
}


@media (max-width: 520px) {
  .VideoCard {
    width: 100%;
    height: 100%;
    aspect-ratio: 6/5;
    > .VideoCard-top {
      justify-content: space-between;
      margin: 0% 2%;
      > h3 {
        font-size: 60px;
      }
      > .videoButton {
        width: 60px;
      }
    }
    > .VideoCard-bottom{
      > h4 {
        font-size: 30px;
      }
      > p:first-of-type{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        max-height: calc(1.5em * 3);
      }
      > p:last-of-type{
        display: none;
      }
    }
  }
}

