.VideoCard{
    border: solid 1px var(--color-dark);
    aspect-ratio: 0.8/1;
    display: grid;
    padding: 5px;
    width: 25%;
    place-items: baseline;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto max-content;
    border-radius: 5px;
    grid-template-areas:
      'num btn'
      'title title'
      'text text';
    > h1{
        text-transform: uppercase;
        font-size: 4em;
        margin-left: 10%;
        grid-area: num;
        width: auto;
    }
    .VideoCard-btn{
        aspect-ratio: 1/1;
        width: 200%;
        grid-area: btn;
        border-radius: 50px;
    }
    > .VideoCard-bottom{
        > h1{
            width: 150%;
            grid-area: title;
        }
        > p{
            border: solid 1px white;
            width: 150%;
            grid-area: text;
        }
    }

}