.video-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2.4%;
  padding: 50px 65px 50px 65px;
  background-color: var(--color-light);
}

@media (max-width: 800px) {
  .video-cards {
    padding: 50px 20px 50px 20px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3,320px);   
    place-content: center;
  }
}

@media (max-width: 520px) {
  .video-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,270px);
    place-content: center;
  }
}
