.video-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2.4%;
  width: 90%;
  margin: 50px auto !important;
  background-color: var(--color-light);
}

@media (max-width: 800px) {
  .video-cards {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3,320px);   
    place-content: center;
  }
}

@media (max-width: 520px) {
  .video-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,270px);
    place-content: center;
  }
}
